.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: navy;
  color: white;
  text-align: center;

  height: 50px;
  background-color: blue;
  animation-name: foot;
  animation-duration: 5s;
  animation-iteration-count: 20;
}

@keyframes foot {
  /*@Key framesmeans the animation will gradualy change from one style to another*/
  from {
    background-color: blue;
  }
  to {
    background-color: yellow;
  }
}

.header {
  text-align: center;
  padding: 30px 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
}

table,
th,
td {
  border: 2px solid; /* sets a solid line border */
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label {
  padding: 25px;
  background: grey;
  font-weight: bold;
}

.tabs .tab {
  width: 100%;
  padding: 20px;
  order: 1;
  display: none;
}

.tabs .tab1 {
  background: black;
}

.tabs .tab h2 {
  font-size: 3em;
}

.tabs input[type="radio"]:checked + label + .tab {
  /*displays table when cliked*/
  display: block;
}

.tabs input[type="radio"]:checked + label {
  /* makes it so when a tab is clicked the background is white*/
  background: white;
}

.txtcolour {
  animation-name: txt;
  animation-duration: 5s;
  animation-iteration-count: 20;
}

@keyframes txt {
  from {
    color: blue;
  }
  to {
    color: yellow;
  }
}
